@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  --off-white: #faf9f6;
}

body {
  background-color: var(--off-white);
}

button {
  @apply w-full;
}


