@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  --off-white: #faf9f6;
}

body {
  background-color: var(--off-white);
  @apply font-montserrat;
  @apply mt-12 mb-12;
}

button {
  @apply w-full;
}

.p-inputtext {
  @apply text-sm font-light;
}

label {
  @apply text-sm;
}
