<div class="grid grid-cols-5 gap-6">
  <div class="col-span-1 col-start-1">
    <label>Product Info</label>
  </div>
  <div class="col-span-1 col-start-4">
    <label class="text-lg"
      >Total {{ total | currency: "ZAR " : "symbol" }}</label
    >
  </div>
</div>
<form [formGroup]="form">
  @for (row of rows.controls; track row; let idx = $index) {
    <div class="flex flex-row">
      <div class="grid grid-cols-5 w-full mt-4 gap-6 items-center">
        <div class="cols-span-1">
          <app-input
            [control]="$any(row.get('description'))"
            labelText="Description"
          ></app-input>
        </div>
        <div class="cols-span-1">
          <app-input-number
            [isCurrency]="true"
            [control]="$any(row.get('price'))"
            labelText="Price"
          >
          </app-input-number>
        </div>
        <div class="cols-span-1">
          <app-input-number
            [isCurrency]="true"
            [control]="$any(row.get('quantity'))"
            labelText="Quantity"
            [showButtons]="true"
            [minValue]="0"
            [maxValue]="100"
          >
          </app-input-number>
        </div>
        <div class="cols-span-1">
          <app-input-number
            [isCurrency]="true"
            [control]="$any(row.get('amount'))"
            labelText="Amount"
            [isReadonly]="true"
          >
          </app-input-number>
        </div>
        <div class="cols-span-1">
          @if (idx === rows.length - 1) {
            <i class="pi pi-plus-circle cursor-pointer" (click)="addRow()"></i>
          }
          @if (rows.length > 1) {
            <i
              class="pi pi-minus-circle cursor-pointer ml-4"
              (click)="removeRow(idx)"
            ></i>
          }
        </div>
      </div>
    </div>
  }
</form>
