<div class="flex flex-col w-screen h-screen p-12 justify-center items-center">
  <div class="flex flex-col w-4/5 bg-white p-12 rounded-2xl">
    <label>Date created</label>
    <!-- <p-floatlabel variant="on">
      <p-datepicker inputId="on_label" showIcon iconDisplay="input" />
      <label for="on_label">Date Created</label>
    </p-floatlabel> -->
    <label>Logo Upload</label>
    <div class="file-upload">
      <p-fileupload
        name="demo[]"
        [multiple]="false"
        accept="image/*"
        maxFileSize="1000000"
        mode="advanced"
        [auto]="true"
      >
        <ng-template #empty>
          <div>Drag and drop files to here to upload.</div>
        </ng-template>
        <ng-template #content>
          @if(uploadedFiles.length){
          <ul>
            @for(file of uploadedFiles; track file){
            <li>{{ file.name }} - {{ file.size }} bytes</li>
            }
          </ul>
          }
        </ng-template>
      </p-fileupload>
    </div>
    <app-owner-info></app-owner-info>
    <app-client-info></app-client-info>
    <app-products></app-products>
  </div>
</div>
