<h1>Client Contact Info</h1>
<form [formGroup]="clientForm">
  <div class="flex flex-row">
    <div class="grid grid-cols-4 w-full mt-4 gap-6">
      <div class="cols-span-1">
        <app-input
          [control]="$any(clientForm.controls['name'])"
          labelText="Name"
        ></app-input>
      </div>
      <div class="cols-span-1">
        <app-input
          [control]="$any(clientForm.controls['surname'])"
          labelText="Surname"
        ></app-input>
      </div>
      <div class="cols-span-1">
        <app-input
          [control]="$any(clientForm.controls['number'])"
          labelText="Phone Number"
        ></app-input>
      </div>
      <div class="cols-span-1">
        <app-input
          [control]="$any(clientForm.controls['email'])"
          labelText="Email"
        ></app-input>
      </div>
    </div>
  </div>
</form>
